@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'Nunito'!important;
}

body, html {
    width: 100%!important;
    height: 100%!important;
}

.w3-sidebar {
    background-color: rgb(41, 41, 109)!important;
    color: white!important;
    padding: 1.5em;
}

.w3-container {
    display: flex;
    justify-content: space-around;
}

h3.w3-bar-item {
    font-weight: 700;
}

.chart-box {
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 1em;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

